mixin head
  head
    meta(charset='utf-8')
    title= pageTitle
    meta(name='keywords' content='')
    meta(name='description' content='')
    meta(name='HandheldFriendly' content='True')
    meta(name='MobileOptimized' content='320')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    //- meta(name="viewport" content="width=1280")
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='imagetoolbar' content='no')
    meta(name='msthemecompatible' content='no')
    meta(name='format-detection' content='telephone=no')
    meta(name='format-detection' content='address=no')
    meta(name='theme-color' content='#ffffff')
    meta(name='apple-mobile-web-app-capable' content='yes')
    
    link(rel='apple-touch-icon' sizes='57x57' href='assets/img/apple/apple-icon-57x57.png')
    link(rel='apple-touch-icon' sizes='60x60' href='assets/img/apple/apple-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='72x72' href='assets/img/apple/apple-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='76x76' href='assets/img/apple/apple-icon-76x76.png')
    link(rel='apple-touch-icon' sizes='114x114' href='assets/img/apple/apple-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='120x120' href='assets/img/apple/apple-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='144x144' href='assets/img/apple/apple-icon-144x144.png')
    link(rel='apple-touch-icon' sizes='152x152' href='assets/img/apple/apple-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='180x180' href='assets/img/apple/apple-icon-180x180.png')
    link(rel='icon' type='image/png' sizes='192x192' href='assets/img/apple/android-icon-192x192.png')
    link(rel='icon' type='image/png' sizes='32x32' href='assets/img/apple/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='96x96' href='assets/img/apple/favicon-96x96.png')
    link(rel='icon' type='image/png' sizes='16x16' href='assets/img/apple/favicon-16x16.png')
    link(rel='manifest' href='assets/img/apple/manifest.json')
    meta(name='msapplication-TileColor' content='#ffffff')
    meta(name='msapplication-TileImage' content='img/apple/ms-icon-144x144.png')
    meta(name='theme-color' content='#ffffff')

    meta(property='og:url' content='')
    meta(property='og:type' content='website')
    meta(property='og:title' content=pageTitle)
    meta(property='og:description' content='')
    meta(property='og:image' content='assets/img/og-img.jpg')

    //-link(rel='stylesheet' href='css/fonts_dev.css')

    link(rel='stylesheet' href='assets/css/vendors.css')
    link(rel='stylesheet' href='assets/css/app.css')

mixin scripts
  script(src='assets/js/vendors.js')
  script(src='assets/js/app.js')