mixin first 
  .container
    .background
    .content
      h1 Основной контент
      p При прокрутке этот текст движется нормально...
        div( style="height: 1500px;")
          img(src="assets/img/img1.webp", alt="")




