mixin first 
  .first__area
    .first__bg
    .first__text  
      .first__textTop 
        span.ff Промышленные
        span.br технологии
      .first__textBottom 
        span Комплексные решения 
        span по металлообработке
    .first__img
      img(src="assets/img/img1.webp", alt="")
  .box





