mixin footer 
  .footer__area
    footer.footer.w 
      //- a(href="https://3.redirect.appmetrica.yandex.com/route?end-lat=51.535995151499996&end-lon=46.02148723677058&tariffClass=econom&ref=yoursiteru&appmetrica_tracking_id=1178268795219780156" target="_blank") Саратов ТАКСИ 
      //- a(href="https://3.redirect.appmetrica.yandex.com/route?end-lat=55.72597506901932&end-lon=37.5780464999999&tariffClass=econom&ref=yoursiteru&appmetrica_tracking_id=1178268795219780156" target="_blank") Москва ТАКСИ 
