mixin header 
  .header__outer 
    header.header.w 
      .header__inner
        a.logo1(href="#") 
          img(src="assets/img/logo-fff-full.svg", alt="")
        a.header__link(href="#") Каталог
        .header__search 
          .header__searchBtn 
            i.icon-search
        a.header__phone(href="tel:+78047004717") 8 (804) 700-47-17
        a.header__email(href="mailto:promtehrm@mail.ru") promtehrm@mail.ru
        .header__extLinks
          a.header__whatsapp(href="https://wa.me/78047004717" target="_blank") 
            i.icon-whatsapp
          a.header__tg(href="https://t.me/ptrm_admin" target="_blank") 
            i.icon-telegram
        .header__time 
          .header__timeTop Время работы
          .header__timeInfo 09:00-18:00
        a.header__btn.btn2 
          span Заказать звонок
        a.header__btn.btn1
          span Отправить заявку
        .menuButton__outer
          .menuButton
            span
            span
            span
      .topMenu__outer 
        ul.topMenu 
          li
            a(href="#") О компании
          li
            a(href="#") Новости и акции
          li
            a(href="#") Доставка и оплата
          li
            a(href="#") Рассрочка?
          li
            a(href="#") Как заказать
          li
            a(href="#") Контакты




    